<nav>
    <a id="nav-profile" href="profile.html"
        style="color: rgba(168, 168, 168, 0.4); text-shadow: 2px 2px 2px #eee, 0 0 rgb(173, 173, 173);">
        Profile
    </a>
    <a id="nav-blog" href="#blog"
        style="color: rgba(168, 168, 168, 0.4); text-shadow: 2px 2px 2px #eee, 0 0 rgb(173, 173, 173);">
        Blog
    </a>
    <a id="nav-artifacts" href="#artifacts"
        style="color: rgba(168, 168, 168, 0.4); text-shadow: 2px 2px 2px #eee, 0 0 rgb(173, 173, 173);">
        Artifacts
    </a>
</nav>