@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
:root {
  --base-color: #eee;
  --text-color: #333;
  --shadow-color: #b8b9be;
  --light-color: rgb(243, 243, 243);
  --shadow-radius: 2px;
  --light-radius: 3px;
}

p {
  word-break: break-word;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  color: var(--text-color);
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  background-color: var(--base-color);
  width: 100%;
}

.title {
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2.5rem;
  }
}

nav {
  display: flex;
  justify-content: center;
}

nav > a {
  display: inline-block;
  padding: 8px;
  width: 5rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 0 !important;
  box-shadow: 0 var(--shadow-radius) var(--shadow-radius) 0px
      var(--shadow-color),
    0 calc(-1 * var(--light-radius)) var(--light-radius) #eee;
}

nav > a:first-child {
  border-radius: 5px 0 0 5px !important;
}

nav > a:last-child {
  border-radius: 0 5px 5px 0 !important;
}

main {
  position: relative;
  max-width: 1300px;
  margin: auto;
}

.share-menu {
  position: absolute;
  width: 50px;
  height: 500px;
  top: 10px;
  left: 10px;
  padding: 15px;
}

.share-menu > * {
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .share-menu {
    display: none;
  }
  main {
    padding: 15px;
  }
  article {
    margin: 0 !important;
  }
}

article {
  flex: 1;
  margin: 15px 80px;
  box-shadow: var(--shadow-radius) var(--shadow-radius)
      calc(1.5 * var(--shadow-radius)) var(--shadow-color),
    calc(-1 * var(--light-radius)) calc(-1 * var(--light-radius))
      calc(1.5 * var(--light-radius)) var(--light-color);
  padding: 20px;
  box-sizing: border-box;
}

.neum {
  border-radius: 5px;
  box-shadow: var(--shadow-radius) var(--shadow-radius)
      calc(1.5 * var(--shadow-radius)) var(--shadow-color),
    calc(-1 * var(--light-radius)) calc(-1 * var(--light-radius))
      calc(1.5 * var(--light-radius)) var(--light-color);
}

.neum.clickable:active {
  background-color: var(--base-color);
  border-color: var(--base-color);
  box-shadow: inset var(--shadow-radius) var(--shadow-radius)
      calc(1.5 * var(--shadow-radius)) var(--shadow-color),
    inset calc(-1 * var(--light-radius)) calc(-1 * var(--light-radius))
      calc(1.5 * var(--light-radius)) var(--light-color);
}

.neum-text {
  color: rgba(168, 168, 168, 0.4);
  text-shadow: 2px 2px 2px #eee, 0 0 rgb(126, 126, 126);
}

.neum-inset,
.neum.inset,
a:active,
button:active {
  background-color: var(--base-color);
  border-color: var(--base-color);
  box-shadow: inset var(--shadow-radius) var(--shadow-radius)
      calc(1.5 * var(--shadow-radius)) var(--shadow-color),
    inset calc(-1 * var(--light-radius)) calc(-1 * var(--light-radius))
      calc(1.5 * var(--light-radius)) var(--light-color);
}

article code {
  display: block;
  padding: 8px;
  font-family: Consolas;
  box-shadow: inset 2px 2px 3px var(--shadow-color),
    inset -3px -3px 4px var(--light-color);
}

img {
  max-width: 100%;
}

.round {
  border-radius: 50%;
}

.links {
  justify-self: flex-end;
}

.links > a {
  display: inline-block;
  justify-self: flex-end;
  width: 24px;
  height: 24px;
  margin: 0 6px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-gray {
  fill: #acacac;
}

.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 12px;
}
.p-4 {
  padding: 16px;
}
.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 8px;
}
.m-3 {
  margin: 12px;
}
.m-4 {
  margin: 16px;
}

.center {
  text-align: center;
}
